*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   padding: 1rem;
}
.card{
   width: 400px;
   background-color: aqua;
   border: 1px solid brown;
   padding: 1rem;
   border-radius: 0.75rem;
   -webkit-border-radius: 0.75rem;
   -moz-border-radius: 0.75rem;
   -ms-border-radius: 0.75rem;
   -o-border-radius: 0.75rem;
}