*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   padding: 1rem;
}
.card {
   position: relative;
   padding: 15px;
   margin: 10px;
   border: 1px solid black;
   display: inline-block;
   background: white;
   transition: 0.3s;
}

.delete-btn {
   position: absolute;
   top: 5px;
   right: 5px;
   background: red;
   color: white;
   border: none;
   cursor: pointer;
   font-size: 14px;
}
